.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  font-weight: 400;
  padding-top: 32px;
}


@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc((100vw - 320px) / (768 - 320)*(18 - 14) + 14px);
    max-width: calc((100vw - 320px) / (768 - 320)*(360 - 288) + 288px);
    padding-top: calc((100vw - 320px) / (768 - 320)*(32 - 16) + 16px);
  }
}