.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-size:30px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 635px) {
    .lead__subtitle {
        max-width: 90%;
        font-size: 5vw;
        line-height: 125%;
        margin: 16px auto 40px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
    }
}