.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 64px;
    text-align: center;
    font-size: 30px;
    line-height: 120%;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 635px) {
    .lead__subtitle {
        max-width: 90%;
        font-size: 5vw;
        line-height: 125%;
        margin: 16px auto 36px;
    }
}