.cover__title {
  padding: 0;
  max-width: 560px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0;
}

@media (max-width: 768px) {
  .cover__title {
    font-size: calc((100vw - 320px) / (768 - 320)*(72 - 32) + 32px);
    max-width: calc((100vw - 320px) / (768 - 320)*(560 - 250) + 250px);
  }
}