.header__item {
  margin-right: 18px;
  list-style-type: none;
}

.header__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 635px) { 
  .header__item {
      font-size: 18px;
      line-height: 111%;
      margin-bottom: 8px;
  }
}